{% load static %}

<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>3D Folded Layout | Demo 5 | Codrops</title>
    <meta name="description" content="An experiemntal 3D layout technique for HTML elements." />
    <meta name="keywords" content="3d, layout, html, css, bending, javascript, demo" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="https://use.typekit.net/xsl0wab.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/horizontal.css' %}" />
    <script>
    document.documentElement.className = "js";
    var supportsCssVars = function() {
        var e,
            t = document.createElement("style");
        return (
            (t.innerHTML = "root: { --tmp-var: bold; }"),
            document.head.appendChild(t),
            (e = !!(
                window.CSS &&
                window.CSS.supports &&
                window.CSS.supports("font-weight", "var(--tmp-var)")
            )),
            t.parentNode.removeChild(t),
            e
        );
    };
    supportsCssVars() ||
        alert(
            "something went wrong."
        );
    </script>
</head>

<body class="demo-5 loading">
  
    <main>
        <div class="message">Some message for mobile (if needed).</div>
        <div class="frame">
            <h1 class="frame__title">About Us</h1>
            <div class="frame__heading-wrap">
                <h2 class="frame__heading" align="center">Addis &mdash; Fashion</h2>
                
            </div>
            <div class="frame__demos">
                <a href="index.html" class="frame__demo">Home</a>
                <a href="http://127.0.0.1:8000/admin" class="frame__demo">Admin</a>
                <a href="skintone.html" class="frame__demo">Skintone</a>
                <a href="contact.html" class="frame__demo">Help</a>
                <a href="about.html" class="frame__demo frame__demo--current">About Us</a>
            </div>
        </div>
        <div class="content">
            <div class="fold-content" id="base-content">
                <img class="content__img" src="{% static 'img/1.jpg' %}" alt="Some image" />
                <h3 class="content__title">Dan Zenawi</h3>
                <img class="content__img" src="{% static 'img/2.jpg' %}" alt="Some image" />
                <h3 class="content__title">Clark Bekele</h3>
                <img class="content__img" src="{% static 'img/3.jpg' %}" alt="Some image" />
                <h3 class="content__title">Teddy Abele</h3>
                <img class="content__img" src="{% static 'img/4.jpg' %}" alt="Some image" />
                <h3 class="content__title">Yared Mengestu</h3>
                <img class="content__img" src="{% static 'img/5.jpg' %}" alt="Some image" />
                <h3 class="content__title">Ali Tamrat</h3>
                <img class="content__img" src="{% static 'img/6.jpg' %}" alt="Some image" />
                <h3 class="content__title">Abatte Dibaba</h3>
                <img class="content__img" src="{% static 'img/7.jpg' %}" alt="Some image" />
                <h3 class="content__title">Edward Yuma</h3>
                <img class="content__img" src="{% static 'img/8.jpg' %}" alt="Some image" />
                <h3 class="content__title">Aster Shubissa</h3>
                <img class="content__img" src="{% static 'img/9.jpg' %}" alt="Some image" />
                <h3 class="content__title">Mahder Gebremarkos</h3>
            </div>
            <div class="screen" id="fold-effect">
                <div class="wrapper-3d">
                    <div class="fold fold-before fold-before-3"></div>
                    <div class="fold fold-before fold-before-2"></div>
                    <div class="fold fold-before fold-before-1"></div>
                    <div class="fold fold-main"></div>
                </div>
            </div>
        </div>
    </main>
    
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/horizontal.js' %}"></script>
</body>

</html>